h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    color: var(--text-primary);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.375rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    margin: 0;
    line-height: 1.4;
}

a, a:hover {
    color: var(--brand-primary);
    text-decoration: none;
}

i {
    color: var(--text-tertiary);
}

.text-underline{
    text-decoration: underline;
}

.text-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

.text-cursor {
    cursor: pointer !important;
}

.text-normalize {
    text-transform: none !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}
